Repository giotramu/logo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, eslint, stylelint, prettier

typecheck:
  run: npm run typecheck

eslint:
  run: npm run lint:src -- --fix

stylelint:
  run: npm run lint:css -- --fix

prettier:
  run: npx --no-install prettier {staged_files} --write --ignore-unknown && git add {staged_files}

Add new output target in stencil.config.ts
  package.json
  stencil.config.ts
Due: typecheck, eslint, prettier

Update eslint config
  .eslintrc.json
Due: prettier

Set allowSyntheticDefaultImports to tsconfig.json
  tsconfig.json
Due: prettier

Add components unit tests
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/components/logo/index.tsx
  src/components/logo/tests/index.spec.ts
  src/components/sign/tests/index.spec.ts
  src/components/typo/tests/index.spec.ts
Due: typecheck, eslint, prettier

Fix some internal stuffs
  .eslintrc.json
  .vscode/settings.json
  src/components/logo/index.tsx
  src/components/sign/index.tsx
  src/components/typo/index.tsx
  src/types/commonProps.ts
  src/types/props.ts
  src/utils/helpers.ts
  src/utils/tests/helpers.spec.ts
  tsconfig.json
Due: typecheck, eslint, prettier

Re-organize src/utils dir
  src/components/sign/index.tsx
  src/components/typo/index.tsx
  src/utils/calcSvgPadding.ts
  src/utils/getHexColorCode.ts
  src/utils/helpers.ts
  src/utils/index.ts
  src/utils/tests/calcSvgPadding.spec.ts
  src/utils/tests/getHexColorCode.spec.ts
Due: typecheck, eslint, prettier

Use the import type ts feature
  src/components/logo/index.tsx
  src/components/sign/index.tsx
  src/utils/getHexColorCode.ts
Due: typecheck, eslint, prettier

Centralize types
  src/components/logo/index.tsx
  src/components/sign/index.tsx
  src/components/typo/index.tsx
  src/types/index.ts
  src/utils/getHexColorCode.ts
Due: typecheck, eslint, prettier

Release v1.8.0
  .eslintrc.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Update jest and jest-cli
  package-lock.json
  package.json
Due: prettier

Update README.md content
  README.md
Due: prettier

Update README.md links
  README.md
Due: prettier

Update gh actions
  .eslintignore
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier

Fix gh actions
  .github/workflows/release.yml
  README.md
Due: prettier

Update dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: prettier

Update author url
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/logo/styles.css
  src/components/sign/styles.css
  src/components/typo/styles.css
Due: stylelint, prettier

Upgrade dependencies
  .github/workflows/test.yml
  LICENSE
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

Fix gh action
  .github/workflows/test.yml
Due: prettier

Fix README.md
  README.md
Due: prettier

Update dependencies
  .eslintignore
  .eslintrc.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  .prettierignore
  .stylelintrc.json
  README.md
  lefthook.yml
  package-lock.json
  package.json
  src/components/logo/index.tsx
  src/components/sign/index.tsx
  src/components/typo/index.tsx
  src/index.ts
  src/types/commonProps.ts
  src/utils/getHexColorCode.ts
  stencil.config.ts
  tsconfig.json
Due: typecheck, eslint, prettier

Fix an issue with NPM < v7
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

Fix CI issue
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

Downgrade Puppeteer to v10
  package-lock.json
  package.json
Due: prettier

Code refactoring
  src/components.d.ts
  src/components/logo/index.tsx
  src/components/logo/styles.css
  src/components/sign/index.tsx
  src/components/sign/styles.css
  src/components/typo/index.tsx
  src/components/typo/styles.css
  src/index.html
  src/types/commonProps.ts
  src/types/index.ts
  src/utils/getHexColorCode.ts
  src/utils/hexCode.ts
  src/utils/index.ts
  src/utils/tests/getHexColorCode.spec.ts
  src/utils/tests/hexCode.spec.ts
Due: typecheck, eslint, stylelint, prettier

Update resources
  package-lock.json
  package.json
  resources/favicon/README.md
  resources/favicon/android-chrome-192.png
  resources/favicon/android-chrome-512.png
  resources/favicon/apple-touch-icon.png
  resources/favicon/favicon-16.png
  resources/favicon/favicon-32.png
  resources/favicon/favicon.ico
  resources/svg/logo-h-accent-neutral-100.svg
  resources/svg/logo-h-accent-neutral-900.svg
  resources/svg/logo-h-neutral-100.svg
  resources/svg/logo-h-neutral-900.svg
  resources/svg/logo-hor-accent-dark.svg
  resources/svg/logo-hor-accent-dim.svg
  resources/svg/logo-hor-accent-light.svg
  resources/svg/logo-hor-base-dark.svg
  resources/svg/logo-hor-base-dim.svg
  resources/svg/logo-hor-base-light.svg
  resources/svg/logo-v-accent-neutral-100.svg
  resources/svg/logo-v-accent-neutral-900.svg
  resources/svg/logo-v-neutral-100.svg
  resources/svg/logo-v-neutral-900.svg
  resources/svg/logo-ver-accent-dark.svg
  resources/svg/logo-ver-accent-dim.svg
  resources/svg/logo-ver-accent-light.svg
  resources/svg/logo-ver-base-dark.svg
  resources/svg/logo-ver-base-dim.svg
  resources/svg/logo-ver-base-light.svg
  resources/svg/sign-accent-dark.svg
  resources/svg/sign-accent-dim.svg
  resources/svg/sign-accent-light.svg
  resources/svg/sign-accent.svg
  resources/svg/sign-base-dark.svg
  resources/svg/sign-base-dim.svg
  resources/svg/sign-base-light.svg
  resources/svg/sign-neutral-100.svg
  resources/svg/sign-neutral-900.svg
  src/components/logo/styles.css
  src/index.html
Due: stylelint, prettier

Fix tests
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/components.d.ts
  src/components/logo/index.tsx
  src/components/logo/test/logo.spec.ts
  src/components/logo/tests/index.e2e.ts
  src/components/logo/tests/index.spec.ts
  src/components/sign/index.tsx
  src/components/sign/test/sign.spec.ts
  src/components/sign/tests/index.e2e.ts
  src/components/sign/tests/index.spec.ts
  src/components/typo/index.tsx
  src/components/typo/test/typo.spec.ts
  src/components/typo/tests/index.e2e.ts
  src/components/typo/tests/index.spec.ts
  src/index.html
  src/utils/calcSvgPadding.ts
  src/utils/hex-code.ts
  src/utils/hexCode.ts
  src/utils/index.ts
  src/utils/tests/calcSvgPadding.spec.ts
  src/utils/tests/hex-code.spec.ts
  src/utils/tests/hexCode.spec.ts
  stencil.config.ts
Due: typecheck, eslint, prettier

Rename resources file
  resources/svg/logo-h-accent-base-100.svg
  resources/svg/logo-h-accent-base-900.svg
  resources/svg/logo-h-base-100.svg
  resources/svg/logo-h-base-900.svg
  resources/svg/logo-v-accent-base-100.svg
  resources/svg/logo-v-accent-base-900.svg
  resources/svg/logo-v-base-100.svg
  resources/svg/logo-v-base-900.svg
  resources/svg/sign-base-100.svg
  resources/svg/sign-base-900.svg
  src/utils/hex-code.ts
  src/utils/tests/hex-code.spec.ts
Due: typecheck, eslint, prettier

Update documentation
  README.md
  docs/color-scheme.md
  docs/logo.md
  docs/sign.md
  docs/typo.md
  src/components/sign/index.tsx
  src/components/typo/index.tsx
  src/index.html
  src/types/commonProps.ts
  src/utils/hex-code.ts
  stencil.config.ts
Due: typecheck, eslint, prettier

Clean the unused properties of package.json
  package.json
Due: prettier

Release v2.0.0-rc.1
  package-lock.json
  package.json
Due: prettier

Switch sign vector based on color name
  docs/logo.md
  docs/sign.md
  docs/typo.md
  src/components.d.ts
  src/components/logo/index.tsx
  src/components/logo/styles.css
  src/components/logo/test/logo.spec.ts
  src/components/sign/index.tsx
  src/components/sign/test/sign.spec.ts
  src/components/typo/index.tsx
  src/index.html
  src/utils/hex-code.ts
Due: typecheck, eslint, stylelint, prettier

Release v2.0.0-rc.2
  package-lock.json
  package.json
Due: prettier

Remove useless css class
  src/index.html
Due: prettier

Update assets
  README.md
  assets/favicon/README.md
  assets/favicon/apple-touch-icon.png
  assets/favicon/favicon.ico
  assets/favicon/favicon.svg
  assets/favicon/google-touch-icon.png
  assets/favicon/safari-pinned-tab.svg
  assets/svg/logo-h-accent-base-100.svg
  assets/svg/logo-h-accent-base-900.svg
  assets/svg/logo-h-base-100.svg
  assets/svg/logo-h-base-900.svg
  assets/svg/logo-v-accent-base-100.svg
  assets/svg/logo-v-accent-base-900.svg
  assets/svg/logo-v-base-100.svg
  assets/svg/logo-v-base-900.svg
  assets/svg/sign-accent.svg
  assets/svg/sign-base-100.svg
  assets/svg/sign-base-900.svg
  docs/logo.md
  package.json
  resources/favicon/README.md
  resources/favicon/android-chrome-192.png
  resources/favicon/android-chrome-512.png
  resources/favicon/apple-touch-icon.png
  resources/favicon/favicon-16.png
  resources/favicon/favicon-32.png
  resources/favicon/favicon.ico
  resources/svg/logo-h-accent-base-100.svg
  resources/svg/logo-h-base-900.svg
  resources/svg/logo-v-accent-base-100.svg
  resources/svg/logo-v-base-900.svg
  resources/svg/sign-accent.svg
  resources/svg/sign-base-100.svg
  resources/svg/sign-base-900.svg
Due: prettier

Changelog updated
  CHANGELOG.md
  README.md
Due: prettier

sign-accent.svg updated
  assets/svg/logo-v-accent-base-100.svg
  assets/svg/sign-accent.svg
Due: prettier

Attributes sorted alphabetically
  docs/logo.md
Due: prettier

Path conditions:
  typecheck: any of: *.{ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  prettier: any of: *
